# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HoBI JAM.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Öznur\Documents\Unity Projects\HOBI JAM\HoBI JAM\.idea\.idea.HoBI JAM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
